.title--dish {
  font-size: 28px;
  margin: 5px 0 15px 0;
}
.section {
  padding: 15px 0;
  border-bottom: 1px solid lightblue;
  width: 100%;
  &:last-child {
    border-bottom: none;
  }
}
.items-list {
  padding: 0;
  list-style: none;
}
.item {
  margin: 15px 0;
}
.item--inside {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}
.item--input {
  display: flex;
  height: 100%;
  align-items: center;
}
input[type=checkbox] {
  transform: scale(1.5);
}
.input--quantity {
  width: 50px;
  height: 50px;
  border: 1px solid darkgrey;
  text-align: center;
  font-size: 32px;
  color: dodgerblue;
}
.item--data {
  grid-column: 3 / 11;
  & .data {
    font-size: 13px;
  }
}
.item--price {
  grid-column: 11 /13;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: $colorGreen;
  font-size: 20px;
  &:after{
    content: '€';
  }
}

/*TOTAL*/
.footer__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
.total-price {
  font-size: 20px;
  color: $colorGreen;
}
.purchase__btn {
  width: 100%;
  height: 40px;
  background: $colorGreen;
  border: 1px solid $colorGreen;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
